<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample">
	<test name="Test">
		<groups>
			<run>
				<include name="E2E"></include>
			</run>
		</groups>
		<classes>
			<class name="com.blazedemo.qa.testcases.SmokeSuite"></class>
			<class name="com.blazedemo.qa.testcases.E2ESuite"></class>
		</classes>
	</test>
</suite>